*.log*
*.cmd*
*.history
*.key
*.shm
*.tstamp
*.simvision*
*.nfs*
*.boundary_opto*
*.default_emulate*
*.flowkit_settings*
*.g
*.genus_*
*.invs_*
*.metrics*
*.mmc
*.mode
*.rs.fp*
*.ctstch
*.rpt
*via_layer*
*.geom*
*.sdf
*.cap
*.mmmc.tcl
*synthesis-final*
*.enc*
*.gif

*/reports_*
*/outputs_*
*/timingReports*
*/summaryReport*

synthesis/fv
INCA_libs
